body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: floralwhite;
}

.manga-button-container {
  margin: 10px auto;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.manga-button:hover {
  background-color: floralwhite;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.manga-button a {
  color: floralwhite;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  color: #ff0000;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 1000px) {
  body {
    width: auto;
    margin: 0px auto;
  }
}

.btn {
  padding: 2px 2px;
  border-radius: 5px;
  color: floralwhite;
}
.btn {
  font-size: 18px;
  color: black;
  margin: 10px auto;
  width: 200px;
}
#btn1 {
  background-image: url("1.jpg");
  background-size: cover;
  background-position: center;
}
#btn2 {
  background-image: url("2.jpg");
  background-size: cover;
  background-position: center;
}
#btn3 {
  background-image: url("3.jpg");
  background-size: cover;
  background-position: center;
}
#btn4 {
  background-image: url("4.jpg");
  background-size: cover;
  background-position: center;
}
#btn5 {
  background-image: url("5.jpg");
  background-size: cover;
  background-position: center;
}
#btn6 {
  background-image: url("6.jpg");
  background-size: cover;
  background-position: center;
}
.btn {
  color: floralwhite;
  padding: 100px;
  border-radius: 10%;
  margin: 10px auto;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}
